 <div class="container">
  <div class="row justify-content-center">
    <h1>Guides dashboard</h1>

    <div class= "container d-flex">
      <div class="dash-content col-sm-12 col-md-12 col-lg-8">
        <div class="d-flex">
          <div class="user-booking-request">
          <%# <div class="user-booking-request col-sm-12 col-md-12 col-lg-2 border border-info"> %>
            <h2>Pending Bookings:</h2>
            <% guide_bookings.where(status: "pending").each do|guide_booking| %>
              <h2><%= guide_booking.citytour.name %></h2>
              <p><%= guide_booking.user.name %></p>
              <p><%= guide_booking.user.language_list %></p>
            <% end %>
          </div>
          <div class="upcoming-tour col-sm-12 col-md-12 col-lg-2">
            <h2>Upcoming Tours:</h2>
            <% current_user.upcoming_citytours(5).each do|citytour| %>
              <div>
                <h3><%= citytour.name %></h3>
                <p>$<%= citytour.price %></p>
                <p><%= citytour.overview %></p>
              </div>
            <% end %>
          </div>
        </div>
      <div class="city-tours col-sm-12 col-md-12 col-lg-12 border border-dark">
        <% citytours.each do |citytour| %>
          <div>
            <h3><%= citytour.name %></h3>
            <p>$<%= citytour.price %></p>
            <p><%= citytour.overview %></p>
          </div>
        <% end %>
      </div>
      </div>
      <div class="card">
        <div class="user-info col-sm-12 col-md-12 col-lg-4 border border-white">
          <img src="images/avatar.png" alt="Avatar" class="avatar">
          <h4><%= current_user.name %><h4>
          <h4><%= current_user.email %></h4>
          <h4><%= current_user.country %></h4>
          <h4><%= current_user.language_list %></h4>
        </div>
      </div>
    </div>
  </div>
</div>

<%# # timeslots w option for new tour(form)
  # picture adding/editing
  # if editing then when finished popup with new time %>
