<h1>Dashboard</h1>



<div class= "dash-container d-flex">
  <div class="user-info-card">
    <div class="user-info col-sm-12 col-md-6 justify-content-center">
      <%= cl_image_tag current_user.photo.key, class: "avatar-dash" %>
      <h4>Hello <%= current_user.name %>!<h4>
    </div>
  </div>
  <div class="dash-content">
    <div class="user-booking-request" style="width: 50%">
      <h2 class="dash-heading">Booking Requests</h2>
      <div class="dash-card">
        <% current_user.citytours.each do |citytour| %>
          <% citytour.bookings.where(status: "pending").each do |guide_booking| %>
            <div class="dash-booking">
                <h2><%= guide_booking.citytour.name %></h2>
                <p>Traveler: <%= guide_booking.user.name %></p>
                <p>Date: <%= guide_booking.start.strftime("%m/%d/%Y") %></p>
                <%= link_to "Accept", accept_booking_path(guide_booking), data: {turbo_method: :get}, class: "btn button-primary2" %>
                <%= link_to "Deny", deny_booking_path(guide_booking), data: {turbo_method: :get}, class: "btn button-secondary" %>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
    <div class="upcoming-booking">
      <h2 class="dash-heading">Upcoming Bookings</h2>
      <div class="dash-card">
        <% current_user.upcoming_citytours(30).each do|citytour| %>
          <div class="dash-booking">
            <h3><%= citytour.name %></h3>
            <p>$<%= citytour.price %></p>
            <p><%= citytour.overview %></p>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<%# # timeslots w option for new tour(form)
  # picture adding/editing
  # if editing then when finished popup with new time %>
