<h1>Traveler Profile</h1>

<div class= "container d-flex">
  <div class="dash-content col-sm-12 col-md-8">
    <div class="booking-request-card">
      <h2>Pending Bookings:</h2>
      <% bookings.where(status: "pending").each do|booking| %>
        <h2><%= booking.citytour.name %></h2>
        <p><%= booking.user.name %></p>
        <p><%= booking.user.language_list %></p>
        <%= link_to "Review", new_booking_review_path(booking) %>
      <% end %>
    </div>
    <div class="upcoming-tour-card">
      <h2>Upcoming Tours:</h2>
      <% citytours.each do|citytour| %>
        <div>
          <h3><%= citytour.name %></h3>
          <p>$<%= citytour.price %></p>
          <p><%= citytour.overview %></p>
        </div>
      <% end %>
      <button type="button" class="btn btn-info" data-bs-toggle="button" autocomplete="off">More Info</button>
    </div>
    <div class="user-info-card">
      <div class="user-info">
        <% if current_user.photo.attached? %>
          <%= cl_image_tag current_user.photo.key, class: "avatar" %>
        <% end %>
        <h4><%= current_user.name %><h4>
        <h4><%= current_user.email %></h4>
        <%# <h4><%= current_user.country %></h4>
        <h4><%= current_user.language_list %></h4>
      </div>
    </div>
  </div>
</div>
