<h1>Dashboard</h1>

<div class= "dash-container d-flex">
 <div class="user-info-card">
    <div class="user-info col-sm-12 col-md-6 justify-content-center">
      <%= cl_image_tag current_user.photo.key, class: "avatar-dash" %>
      <h4>Hello <%= current_user.name %>!<h4>
      <h5> <%= current_user.email %></h5>
    </div>
  </div>
  <div class="booking-request-card">
    <h2>Pending Bookings: </h2>
    <% bookings.where(status: "pending").each do|booking| %>
      <h2><%= booking.citytour.name %></h2>
      <p><%= booking.user.name %></p>
      <%= link_to "Review", new_booking_review_path(booking) %>
    <% end %>
  </div>
    <div class="upcoming-booking-card">
      <h2 class="dash-heading">Upcoming Tours</h2>
      <div class="dash-card">
        <% current_user.upcoming_citytours(30).each do|citytour| %>
          <div class="dash-booking">
            <h3><%= citytour.name %></h3>
            <p>$<%= citytour.price %></p>
            <p><%= citytour.overview %></p>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
