<div class="dash-container p-4">
  <h1 class="dash-h1">Dashboard</h1>
  <div class= "d-flex align-items-start">
    <div class="user-info-card p-4">
      <%= cl_image_tag current_user.photo.key, class: "avatar-dash mb-4" %>
      <h4 class="text-white mb-1"><%= current_user.name %><h4>
      <h4 class="text-white" style="font-size: 1em; opacity: 0.6;"><%= current_user.email %></h4>
    </div>
    <div class="dash-content grid">
      <div class="user-booking-request" style="width: 50%">
        <% if current_user.guide? %>
          <%= render "guide_booking_requests", bookings: @bookings %>
        <% else %>
          <%= render "traveller_pending_bookings", bookings: @bookings %>
        <% end %>
      </div>
      <div class="upcoming-booking" style="width: 50%">
        <% if current_user.guide? %>
          <%= render "guide_upcoming_bookings", citytours: @citytours %>
        <% else %>
          <%= render "traveller_upcoming_tours", citytours: @citytours %>
        <% end %>
      </div>
    </div>
  </div>
</div>
