<div class= "container text-align-center">
  <div class= "row justify-content-center">
    <div class= "col-6">
      <h1>Book a tour for <%= @citytour.name %></h1>
      <%= simple_form_for([@citytour, @booking]) do |f| %>
        <%= f.input :start, as: :date, html5: true %>
        <%= f.input :end, as: :date, html5: true %>
        <%= f.button :submit, class: "btn button-primary2" %>
      <% end %>
    </div>
  </div>
</div>
