<div id="<%= dom_id sight %>" class="border mb-1 p-2">
  <%# <%= cl_image_tag sight.photo.key, height: 300, width: 400, crop: :fill %> %>
  <h4><%= sight.name %></h4>
  <p><%= sight.address %></p>

  <p>
    <%= link_to "Show this sight", sight %>
  </p>

  <div class="border">
    <h5>Tours at this sight</h5>
    <% if sight.citytours.present? %>
      <ul>
        <% sight.citytours.first(3).each do |citytour| %>
          <li><%= citytour.name %> - <%= citytour.price %></li>
        <% end %>
      </ul>
    <% else %>
      <p>No tours at this location...</p>
    <% end %>
  </div>
</div>
