

<div class="container"></div>
 <%# <div id="<%= dom_id sight %><%#" class=""> %>

 <div id="<%= dom_id sight %>" class="">
 <% if current_user.guide? %>
  <p>is guide</p>
     <p> <%= link_to "create a tour", sight %></p>
  <% else %>
  <p>is user</p>
  <% end %>

 <%# class="border mb-1 p-2"> %>
 <%# <div class="the_card sight col-sm-12 col-md-6 col-lg-6" style="width: 18"> %>
    <div class="d-flex flex-wrap">

        <div class="d-flex p-2" style="margin-bottom: 10px;">

                   <div class="the_card" style="width: 18rem;">
                                       <% if sight.photo.attached? %>
                  <%= cl_image_tag sight.photo.key, height: 180, width: 286, crop: :fill %>

                   <% else %>
                     <%= image_tag "https://res.cloudinary.com/dthgfvayv/image/upload/v1662828801/development/wien_weich_oxmz00.png" %>
                    <% end %>

                            <div class="the_card-infos">
                                <h2> <%= sight.name %></h2>
                                <p> <%= sight.address %>.</p>
                            </div>
                            <div class="show_this_sight">
                              <%# <div class="the_card-infos"> %>
                              <%  %>

                              <p> <%= link_to "Show this sight", sight %></p>
                            </div>
                     </div>

          </div><%# close d-flex %>

    </div>
</div>
