<div class="container">
<div class="row justify-content-center">
<% if current_user.guide? %>
  <p>is guide</p>
  <% else %>
  <p>is user</p>
  <% end %>


      <h1>City Tours </h1>

      <% if current_user.guide? %>
      <p>Guide email:  <%=   current_user.email %>
     <p>Guide id:  <%=   current_user.id %>

       <% else %>
      <p>is user</p>
  <% end %>

 <h1>I can see a list of the tours I added</h1>



<>



        <% @sights.each do |sight| %>
                  <% sight.citytours.each do |citytour| %>

                         <div class="d-flex p-2">
                                <div class="card" style="width: 18rem;">
                                                  <div class="card-body">
                                                        <h5 class="card-title"> <%= citytour.name %></h5>
                                                        <p class="card-text">  <%= citytour.overview %>
                                                  </div>
                                                               <%# <button type="button" class="btn btn-primary">book this tour</button> %>
                                                          <% if current_user.guide? %>
                                                              <%= link_to "Book this tour", new_citytour_booking_path(citytour), class: "btn btn-primary" %>
                                                            <% else %>
                                                               <%= link_to "Add this tour", new_citytour_booking_path(citytour), class: "btn btn-primary" %>
                                                            <% end %>
                 <%= button_to "add this tour", citytour_citytour_sights_path(citytour.id, sight.id, sight: sight), method: :post, class: "btn btn-primary" %>
                                </div>

                          </div>

                   <% end %>

          <% end %>


   <div class="container">

                <%# GUIDE PERSPECTICE  %>
               <% if current_user.guide? %>
                  <h1>List of the sights you added as a guide</h1>
                              <% @sights.each do |sight| %>
                                              <% if sight.guide_id == current_user.id %>
                                                          <% sight.citytours.each do |citytour| %>
                                                                <%#= citytour.name %>
                                                                <p>render sight</p>
                                                                <%= render sight %>
                                                                                                                        <% end %>
                                              <% end %>

                                <% end %>
                <% else  %>

                <%# USER PERSPECTICE  %>
                 <p>List of the sights</p>
                       <% @sights.each do |sight| %>
                                    <% if sight.photo.attached? %>
                                                 <% if sight.guide_id == current_user %>
                                                    <%= render sight %>
                                                <% end %>
                                    <% end %>
                       <% end %>
                 <% end %>

   </div>


              <div style="width: 286px; height: 286px;"
                      data-controller="map"
                      data-map-center-value="[-0.118092,51.509865]"
                      data-map-markers-value="<%= @markers.to_json %>"
                      data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
              </div>

    </div>
     <%= link_to "New sight", new_sight_path %>
     <%= link_to "Got to Citytours",citytours_path(@sight) %> |
  </div> <%#   end row   %>
</div> <%#   end container   %>
