<div class="container">
  <div class="row justify-content-center">
    <%# GUIDE PERSPECTICE  %>
      <% if current_user.guide? %>
        <h1>List of the sights you added as a guide</h1>
          <% @sights.each do |sight| %>
            <% if sight.guide_id == current_user.id %>
              <div class="col-6">
                <%= render sight %>
              </div>
​
              <% sight.citytours.each do |citytour| %>
                <%#= citytour.name %>
                <%#   C I T Y T O U R  C A R D   %>
                <div class="col-6">
                  <div class="d-flex p-2">
                    <div class="card" style="width: 18rem;">
                      <div class="card-body">
                        <h5 class="card-title"> <%= citytour.name %></h5>
                        <p class="card-text">  <%= citytour.overview %></p>
                      </div>
                      <%# <button type="button" class="btn btn-primary">book this tour</button> %>
                      <% if current_user.guide? %>
                        <%= link_to "Book this tour", new_citytour_booking_path(citytour), class: "btn btn-primary" %>
                      <% else %>
                        <%= link_to "Add this tour to sight", new_citytour_booking_path(citytour), class: "btn btn-primary" %>
                      <% end %>
                      <%= button_to "add this tour", citytour_citytour_sights_path(citytour.id, sight.id, sight: sight), method: :post, class: "btn btn-success" %>
                    </div>
                  </div>
                </div>
              <% end %>
            <% end %>
          <% end %>
      <% else %>
        <%# USER PERSPECTICE  %>
        <h1>List of the sights</h1>
          <% @sights.each do |sight| %>
            <div class="col-6">
              <%= render sight %>
            </div>
​
            <% sight.citytours.each do |citytour| %>
              <%#= citytour.name %>
              <%#   C I T Y T O U R  C A R D   %>
              <div class="col-6">
                <div class="d-flex p-2">
                  <div class="card" style="width: 18rem;">
                    <div class="card-body">
                      <h5 class="card-title"> <%= citytour.name %></h5>
                      <p class="card-text">  <%= citytour.overview %></p>
                    </div>
                    <%# <button type="button" class="btn btn-primary">book this tour</button> %>
                    <% if current_user.guide? %>
                      <%= link_to "Book this tour", new_citytour_booking_path(citytour), class: "btn btn-primary" %>
                    <% else %>
                      <%= link_to "Add this tour to sight", new_citytour_booking_path(citytour), class: "btn btn-primary" %>
                    <% end %>
                    <%= button_to "add this tour", citytour_citytour_sights_path(citytour.id, sight.id, sight: sight), method: :post, class: "btn btn-success" %>
                  </div>
                </div>
              </div>
            <% end %>
          <% end %>
      <% end %>
    </div>
  <div class="row justify-content-center">
    <div style="width: 286px; height: 286px;"
        data-controller="map"
        data-map-center-value="[-0.118092,51.509865]"
        data-map-markers-value="<%= @markers.to_json %>"
        data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>


  </div>
   <div class="row justify-content-center align-items-center">
    <div class="col-3">
      <%= link_to "New sight", new_sight_path, class: "btn btn-primary mt-1 "%>
      <%= link_to "Tours",citytours_path(@sight), class: "btn btn-primary mt-1 " %>
    </div>
  </div>
  </div>
</div>
