<div class="container">
<div class="row justify-content-center">




</label>

    <% if current_user.guide? %>
      <p>Guide email:  <%=   current_user.email %>
           <% if current_user.name != nil && current_user.name != "" %>
           <H1>Hello, <% current_user.name %>!</H1>
          <% else %>
          <H1>Hello, <% current_user.email %>!</H1>
             <% end %>
 <% end %>
   <div class="container">

            <%# GUIDE PERSPECTICE  %>
               <% if current_user.guide? %>
                  <h1>List of the sights you added as a guide</h1>
                              <% @sights.each do |sight| %>
                                              <% if sight.guide_id == current_user.id %>
                                                 <%= render sight %>
                                              <p>guide sight</p>
                                                          <% sight.citytours.each do |citytour| %>
                                                                <%#= citytour.name %>
                                                                <%#   C I T Y T O U R  C A R D   %>
                                                                <div class="d-flex p-2">
                                                                    <div class="card" style="width: 18rem;">
                                                                                                <div class="card-body">
                                                                                                      <h5 class="card-title"> <%= citytour.name %></h5>
                                                                                                      <p class="card-text">  <%= citytour.overview %>
                                                                                                </div>
                                                                                                  <%# <button type="button" class="btn btn-primary">book this tour</button> %>
                                                                                              <% if current_user.guide? %>
                                                                                                  <%= link_to "Book this tour", new_citytour_booking_path(citytour), class: "btn btn-primary" %>
                                                                                                <% else %>
                                                                                                  <%= link_to "Add this tour to sight", new_citytour_booking_path(citytour), class: "btn btn-primary" %>
                                                                                                <% end %>
                                                                                              <%= button_to "add this tour", citytour_citytour_sights_path(citytour.id, sight.id, sight: sight), method: :post, class: "btn btn-success" %>
                                                                    </div>
                                                              </div>
                                                              <%#   C I T Y T O U R  C A R D   %>

                                                           <% end %>
                                              <% end %>
                                <% end %>

                <% else  %>
            <%# USER PERSPECTICE  %>
                <h1>List of the sights</h1>
                              <% @sights.each do |sight| %>

                                                 <%= render sight %>

                                                          <% sight.citytours.each do |citytour| %>
                                                                <%#= citytour.name %>
                                                                <%#   C I T Y T O U R  C A R D   %>
                                                                <div class="d-flex p-2">
                                                                    <div class="card" style="width: 18rem;">
                                                                                                <div class="card-body">
                                                                                                      <h5 class="card-title"> <%= citytour.name %></h5>
                                                                                                      <p class="card-text">  <%= citytour.overview %>
                                                                                                </div>
                                                                                                  <%# <button type="button" class="btn btn-primary">book this tour</button> %>

                                                                                                  <%= link_to "Book this tour", new_citytour_booking_path(citytour), class: "btn btn-primary" %>

                                                                    </div>
                                                              </div>
                                                              <%#   C I T Y T O U R  C A R D   %>

                                                           <% end %>

                                <% end %>








                 <% end %>

   </div>


              <div style="width: 286px; height: 286px;"
                      data-controller="map"
                      data-map-center-value="[-0.118092,51.509865]"
                      data-map-markers-value="<%= @markers.to_json %>"
                      data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
              </div>

    </div>
     <%= link_to "New sight", new_sight_path %>
     <%= link_to "Got to Citytours",citytours_path(@sight) %> |



  </div> <%#   end row   %>
</div> <%#   end container   %>
