<div class="container d-flex">
  <div class="row justify-content-center">


      <h1>City Tour</h1>
      <p>I can see a list of the citytours</p>
<div class="container d-flex">

      <p style="color: green"><%#= notice %></p>
            <div id="sights">
                <% @sights.each do |sight| %>
                     <% if sight.photo.attached? %>
                        <div class="col-sm-12 col-md-6 col-lg-6">
                          <%= render sight %>
                            </div>
                      <% end %>
                 <% end %>

              <% @sights.each do |sight| %>
                      <% if sight.photo.attached? == false %>
                          <div class="col-sm-12 col-md-6 col-lg-6">
                            <%= render sight %>
                          </div>
                      <% end %>
              <% end %>


            </div>



      <div style="width: 100%; height: 600px;"
        data-controller="map"
        data-map-center-value="[-0.118092,51.509865]"
        data-map-markers-value="<%= @markers.to_json %>"
        data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
      </div>

    </div>
     <%= link_to "New sight", new_sight_path %>
  </div>
</div>
