<div class="container">
<div class="row justify-content-center">


      <h1>City Tour</h1>
      <p>I can see a list of the citytours</p>
   <div class="container">



                <% @sights.each do |sight| %>
                     <%# <% if sight.photo.attached? %>
                         <%# if sight.photo.attached? == false %>
                           <div class="container">
                                <div class="col-12 col-sm-12 col-md-6 col-lg-6">
                                  <%= render sight %>
                                </div>
                        </div>
                      <%#end %>
                 <% end %>



            </div>


              <div style="width: 286px; height: 286px;"
                      data-controller="map"
                      data-map-center-value="[-0.118092,51.509865]"
                      data-map-markers-value="<%= @markers.to_json %>"
                      data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
              </div>

    </div>
     <%= link_to "New sight", new_sight_path %>
     <%= link_to "Got to Citytours",citytours_path(@sight) %> |
  </div> <%#   end row   %>
</div> <%#   end container   %>
