<div class="container">
<div class="row justify-content-center">
<% if current_user.guide? %>
  <p>is guide</p>
  <% else %>
  <p>is user</p>
  <% end %>


      <h1>City Tours </h1>

<%= User.find(1).name  %> </p></p>
<%= User.find(2).name  %> </p></p>
<%= User.find(current_user.id).name %> </p></p>
<%= User.find(4).name  %> </p></p>

      <% if current_user.guide? %>
      <p>Guide name:  <%=   current_user.id %>


       <% else %>
      <p>is user</p>
  <% end %>
 <p>I can see a list of the tours</p>




 <% @citytours.each do |citytour| %>

<%#   C A R D   %>
       <div class="d-flex p-2">
            <div class="card" style="width: 18rem;">
                              <div class="card-body">
                                    <h5 class="card-title"> Title<%#= citytour.name %></h5>
                                    <p class="card-text">Text<%#= citytour.address %>
                              </div>
                                     <button type="button" class="btn btn-primary">Primary</button>
            </div> <%#  card %>
       </div> <%#d-flex p-2  %>

   <% end %>



   <div class="container">
               <% if current_user.guide? %>
                  <p>List of the sights you added</p>
                        <% @sights.each do |sight| %>
                                <%# if sight.photo.attached? %>
                                          <% if sight.guide_id == current_user.id %>
                                              <%= render sight %>
                                          <% end %>
                                  <%# end %>
                        <% end %>
                <% else  %>
                 <p>List of the sights</p>
                       <% @sights.each do |sight| %>
                                    <% if sight.photo.attached? %>
                                                 <% if sight.guide_id == current_user %>
                                                    <%= render sight %>
                                                <% end %>
                                    <% end %>
                       <% end %>
                 <% end %>

   </div>


              <div style="width: 286px; height: 286px;"
                      data-controller="map"
                      data-map-center-value="[-0.118092,51.509865]"
                      data-map-markers-value="<%= @markers.to_json %>"
                      data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
              </div>

    </div>
     <%= link_to "New sight", new_sight_path %>
     <%= link_to "Got to Citytours",citytours_path(@sight) %> |
  </div> <%#   end row   %>
</div> <%#   end container   %>
