<p style="color: green"><%= notice %></p>

<%= render @sight %>

<div>
  <%= link_to "Edit this sight", edit_sight_path(@sight) %> |
  <%= link_to "Back to sights", sights_path %>

  <%= button_to "Destroy this sight", @sight, method: :delete %>
</div>
