

<div class="container">

<% if current_user.guide? %>
  <p>is guide</p>
  <% else %>
  <p>is user</p>
  <% end %>

<%#

<div class="the_card"  style="margin-bottom: 10px; width: 18rem;">
  <img src="https://res.cloudinary.com/dthgfvayv/image/upload/v1662828801/development/wien_weich_oxmz00.png" />
  <div class="the_card-infos">
    <div>
      <h2>Title here</h2>
      <p>Short description here!</p>
    </div>
    <h2 class="the_card-pricing">£99.99</h2>
    <%# <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="the_card-user avatar-bordered" /> %>
<%# </div>
</div>

%>

      </div class="flex-sm-column">
          <%#   S I G H T  %>
          <div class="p-2" style="margin-bottom: 10px;">

                    <div class="the_card" style="width: 18rem;">
                                             <% if @sight.photo.attached? %>
                  <%= cl_image_tag @sight.photo.key, height: 180, width: 286, crop: :fill %>
                   <% elsif @sight.id == 1 %>
                       <%= image_tag "https://res.cloudinary.com/dthgfvayv/image/upload/v1662844355/development/israel_bokek_nn6yj0.jpg" %>
                   <% elsif @sight.id == 2 %>
                        <%= image_tag "https://res.cloudinary.com/dthgfvayv/image/upload/v1662805199/development/wien_schoenbrunn_absfs0.jpg" %>

                   <% elsif @sight.id == 3 %>
                      <%= image_tag "https://res.cloudinary.com/dthgfvayv/image/upload/v1662805196/development/wien_hofburg_touioa.jpg" %>

                   <% elsif @sight.id == 4 %>
                      <%= image_tag "https://res.cloudinary.com/dthgfvayv/image/upload/v1662805197/development/wien_tiergarten_sblgx9.jpg" %>

                   <% elsif @sight.id == 5 %>
                      <%= image_tag "https://res.cloudinary.com/dthgfvayv/image/upload/v1662805199/development/Wien_Riesenrad_v4etl5.jpg" %>

                   <% elsif @sight.id == 6 %>
                      <%= image_tag "https://res.cloudinary.com/dthgfvayv/image/upload/v1662805197/development/wien_albertina_s0ywu0.jpg" %>

                   <% elsif @sight.id == 7 %>
                      <%= image_tag "https://res.cloudinary.com/dthgfvayv/image/upload/v1662843441/development/wien_kunsthistorisches_museum_b4nutj.png" %>

                   <% elsif @sight.id == 8 %>
                      <%= image_tag "https://res.cloudinary.com/dthgfvayv/image/upload/v1662805197/development/wien_donauturm_dcy4nv.jpg" %>

                   <% elsif @sight.id == 9 %>
                      <%= image_tag "https://res.cloudinary.com/dthgfvayv/image/upload/v1662805197/development/wien_naturhistorisches_museum_cbhuop.jpg" %>

                   <% elsif @sight.id == 10 %>
                      <%= image_tag "https://res.cloudinary.com/dthgfvayv/image/upload/v1662805198/development/Wien_schatzkammer_fqsohl.jpg" %>

                   <% elsif @sight.id == 11 %>
                      <%= image_tag "https://res.cloudinary.com/dthgfvayv/image/upload/v1662805198/development/wien_spanish_riding_school_gtvmjx.jpg" %>

                   <% elsif @sight.id == 12 %>
                      <%= image_tag "https://res.cloudinary.com/dthgfvayv/image/upload/v1662901594/development/berlin_brandenburg_gate_i0bvpi.jpg" %>

                   <% else %>
                     <%= image_tag "https://res.cloudinary.com/dthgfvayv/image/upload/v1662828801/development/wien_weich_oxmz00.png" %>
                <% end %>


                                  <div class="the_card-infos">
                                        <h2><%= @sight.name %></h2>
                                        <p><%= @sight.address %>.</a>
                                  </div> <%# close Card-body %>
                      </div>  <%# close Card %>
        </div><%# close d-flex %>


        <%#   M A P B O X   %>

       <div class="p-2">
            <div d="mapbox_sights">
              <div style="width: 286px; height: 286px;"
                  data-controller="map"
                  data-map-center-value="[-0.118092,51.509865]"
                  data-map-markers-value="<%= @sightmarkers.to_json %>"
                  data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
              </div> <%# close style %>
            </div>
        </div><%# close d-flex %>


        <%#   C I T Y   T O U R S   %>
            <div class="d-flex p-2">
              <div data-controller="insert-in-list">
                <div data-insert-in-list-target="items">
                  <% @citytours.each do |citytour| %>
                      <%= citytour.name %>
                      <%= link_to "Book this tour", new_citytour_booking_path(citytour), class: "btn btn-primary" %>
                      <%#= render 'reviews/carousel', reviews: citytour.reviews.where(isguide: false) %>
                  <% end %>
                  <p style="color: green"><%#= notice %></p>
                </div>
              </div>
            </div><%# close d-flex p-2 %>


        <%#   L I N K S   %>
          <div class="d-flex p-2">
                  <div style="margin: 10px 0 0 10px;;">

                        <%= link_to "Back to sights", sights_path %>
                        <%= link_to "Got to Citytours",citytours_path(@sight) %> |
                        <%= link_to "Back to sights", sights_path %>
                        <%  %>

                        <% if current_user.guide? %>
                        <div class="btn btn-warning">
                            <%= link_to "Edit this sight", edit_sight_path(@sight) %> |
                            <%= link_to "Destroy this sight", @sight, method: :delete %>
                                <%#= button_to "Destroy this sight", @sight, method: :delete %>
                          </div>
                        <% end %>
                  </div>
          </div><%# close d-flex p-2 %>

      </div> <%# closed-flex align-content-center flex-wrap %>

 </div> <%# close Container %>
