<div class="banner">
  <div class="banner-container">
  <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel" data-bs-interval="5000">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="<%= asset_path 'morocco.jpg' %>" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="<%= asset_path 'MtFuji.jpg' %>" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="<%= asset_path 'Romania.jpg' %>" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="<%= asset_path 'beach.jpg' %>" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="<%= asset_path 'Laos.jpg' %>" class="d-block w-100" alt="...">
      </div>
    </div>
    <div class="banner-text row justify-content-center">
        <div class="col-sm-12 col-md-6 col-lg-6">
         <h1>Welcome to <br>Wonder Guide</h1>
         <p>“Travel opens your heart, broadens your mind, and fills your life with stories to tell.”</p>
        <a class="btn btn-flat" href="#">Tour now</a>
        </div>
      </div>
  </div>
