<div class="citytour-card sight col-sm-12 col-md-6 col-lg-6" style="width: 18rem;">
  <div class="tour-card-info">
    <h2><%= citytour.name %></h2>
    <p><%= citytour.overview %></p>
    <p><i class="fa-solid fa-euro-sign"> <%= citytour.price %></i></p>
    <br>
  </div>
    <div class="grid tour-index-button">
      <div class="g-col-6">
        <%= link_to "🔎 Details", citytour_path(citytour), class: "btn button-primary2-details"%>
      </div>
      <div class="g-col-6">
        <%= link_to "📖 Book", new_citytour_booking_path(citytour), class: "btn button-primary2 tour-booking"%>
      </div>

    </div>
</div>
