<div class="citytour-index-container">
  <h1>City Tours</h1>
  <% if current_user.guide? %>
    <%= link_to "Add Tour", new_citytour_path, class: "button-primary2" %>
  <% end %>
  <div class="row justify-content-center">
    <% @citytours.each do |citytour| %>
      <div class="grid w-100">
        <div class="g-col-3">
          <%= render citytour %>
        </div>
        <div class="g-col-9">
          <div class="grid">
            <% citytour.sights.each do |citytoursight| %>
              <div class="g-col-4">
                <div class="tour-sight-container">
                  <%= link_to sights_path(citytoursight), class: "citytoursight-card", style:"display: inline-block;" do %>
                    <% if citytoursight.photo.attached? %>
                        <%= cl_image_tag citytoursight.photo.key, crop: :fit %><%#= , height: 200, width: 400, crop: :fill %>
                    <% else %>
                        <%= image_tag "https://res.cloudinary.com/dthgfvayv/image/upload/v1662828801/development/wien_weich_oxmz00.png" %>
                    <% end %>
                  <% end %>
                  <div class="the_card-infos">
                    <h2> <%= citytoursight.name %></h2>
                    <p> <%= citytoursight.address %>.</p>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>

  <%= link_to "New sight", new_sight_path %>
  <%= link_to "Go to sights ", sights_path %>

</div>
