<div class="container">
<div class="row justify-content-center">


      <h1>City Tour</h1>
      <p>I can see a list of the citytours</p>

      <% @citytours.each do |citytour| %>
        <%# <% if sight.photo.attached? %>
         <div class="container">
                               <div class="col-12 col-sm-12 col-md-6 col-lg-6">
                                 <%= render citytour %>
                                </div>
                          </div>

                   <% @sights.each do |citytoursight2| %>
                        <% if citytour.guide_id == citytoursight2.user_id%>
                            <p>Sight name:  <%= citytoursight2.name  %></p>
                            <%= render citytoursight2 %>
                        <% end %>
                   <% end %>
                         <p></p>
       <% end %>


 <div style="width: 286px; height: 286px;"
        data-controller="map"
        data-map-center-value="[-0.118092,51.509865]"
        data-map-markers-value="<%= @markers.to_json %>"
        data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
      </div>

    </div>
     <%= link_to "New sight", new_sight_path %>
  </div>
</div>
