<div class="tour-show-card">
  <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
    <div class="carousel-inner">
      <% reviews.each_with_index do |review, index| %>
        <div class="carousel-item <%= index == 0 ? "active" : "" %>">
        <div class="d-flex" id="review-user" style="margin-bottom: 16px; align-items: center;">
        <div class="traveler-avatar">
          <%= cl_image_tag review.booking.user.photo.key, class: "avatar-review" %>
        </div>
          <p><%= review.booking.user.name %></p>
        </div>
          <p>Rating: <%= review.rating %>/10</p>
          <p><%= review.reviewtext %></p>
        </div>
      <% end %>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>
